# Build output
out/
bin/

# LWJGL libraries
/lib/*.jar

# VS Code
.vscode/

# Java
*.class

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
*.log

# screenshots (press F2)
screenshots/

# tests
tests/
